In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv("../data/premireleague.csv", index_col=0)

In [3]:
df.head()

,link_match,season,date,home_team,away_team,result_full,result_ht,home_clearances,home_corners,home_fouls_conceded,...,tackles_avg_away,touches_avg_away,yellow_cards_avg_away,goals_scored_ft_avg_away,goals_conced_ft_avg_away,sg_match_ft_acum_away,goals_scored_ht_avg_away,goals_conced_ht_avg_away,sg_match_ht_acum_away,performance_acum_away
0,https://www.premierleague.com/match/7186,10/11,2010-11-01,Blackpool,West Bromwich Albion,2-1,1-0,15.0,8.0,16.0,...,20.0,584.9,1.6,1.44,1.67,-2.0,0.33,0.78,-4.0,55.6
1,https://www.premierleague.com/match/7404,10/11,2011-04-11,Liverpool,Manchester City,3-0,3-0,16.0,6.0,6.0,...,22.0,681.4,2.0,1.61,0.87,23.0,0.87,0.32,17.0,60.2
2,https://www.premierleague.com/match/7255,10/11,2010-12-13,Manchester United,Arsenal,1-0,1-0,26.0,5.0,9.0,...,21.2,748.0,1.8,2.12,1.12,16.0,0.94,0.38,9.0,66.7
3,https://www.premierleague.com/match/7126,10/11,2010-09-13,Stoke City,Aston Villa,2-1,0-1,26.0,8.0,12.0,...,25.0,567.3,2.0,1.33,2.00,-2.0,1.00,1.00,0.0,66.7
4,https://www.premierleague.com/match/7350,10/11,2011-02-14,Fulham,Chelsea,0-0,0-0,50.0,4.0,11.0,...,19.4,728.6,1.4,1.84,0.88,24.0,0.84,0.48,9.0,58.7

In [4]:
df.shape

(4070, 113)

In [5]:
df.tail()

,link_match,season,date,home_team,away_team,result_full,result_ht,home_clearances,home_corners,home_fouls_conceded,...,tackles_avg_away,touches_avg_away,yellow_cards_avg_away,goals_scored_ft_avg_away,goals_conced_ft_avg_away,sg_match_ft_acum_away,goals_scored_ht_avg_away,goals_conced_ht_avg_away,sg_match_ht_acum_away,performance_acum_away
4065,https://www.premierleague.com/match/59113,20/21,2021-02-03,Liverpool,Brighton and Hove Albion,0-1,0-0,15.0,5.0,12.0,...,16.8,651.0,1.5,1.10,1.38,-6.0,0.52,0.67,-3.0,33.3
4066,https://www.premierleague.com/match/59177,20/21,2021-03-03,Burnley,Leicester City,1-1,1-1,13.0,5.0,6.0,...,17.7,679.0,1.8,1.73,1.15,15.0,0.77,0.58,5.0,62.8
4067,https://www.premierleague.com/match/59178,20/21,2021-03-03,Crystal Palace,Manchester United,0-0,0-0,25.0,4.0,4.0,...,14.9,742.6,1.6,2.04,1.23,21.0,0.85,0.69,4.0,64.1
4068,https://www.premierleague.com/match/59182,20/21,2021-03-03,Sheffield United,Aston Villa,1-0,1-0,47.0,2.0,13.0,...,13.3,587.0,1.7,1.58,1.08,12.0,0.67,0.42,6.0,54.2
4069,https://www.premierleague.com/match/59052,20/21,2020-12-30,Newcastle United,Liverpool,0-0,0-0,52.0,5.0,9.0,...,13.1,844.5,0.7,2.47,1.33,17.0,1.20,0.87,5.0,71.1

In [6]:
df.describe()

,home_clearances,home_corners,home_fouls_conceded,home_offsides,home_passes,home_possession,home_red_cards,home_shots,home_shots_on_target,home_tackles,...,tackles_avg_away,touches_avg_away,yellow_cards_avg_away,goals_scored_ft_avg_away,goals_conced_ft_avg_away,sg_match_ft_acum_away,goals_scored_ht_avg_away,goals_conced_ht_avg_away,sg_match_ht_acum_away,performance_acum_away
count,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,4070.000000,...,3960.000000,3960.000000,3960.000000,3960.000000,3960.000000,3960.000000,3960.000000,3960.000000,3960.000000,3960.000000
mean,24.721622,5.945700,10.778624,2.126044,450.428993,51.230393,0.059705,14.545455,4.820885,17.961179,...,18.256616,643.937879,1.659874,1.378179,1.367018,0.180808,0.609573,0.601326,0.063636,45.921692
std,11.240546,3.136957,3.434517,1.681169,125.676926,11.529756,0.244121,5.768558,2.633621,5.615865,...,2.804014,90.524897,0.456054,0.595752,0.485221,15.567683,0.326817,0.280908,7.818799,19.579283
min,0.000000,0.000000,0.000000,0.000000,176.000000,18.000000,0.000000,0.000000,0.000000,3.000000,...,5.000000,375.000000,0.000000,0.000000,0.000000,-54.000000,0.000000,0.000000,-26.000000,0.000000
25%,17.000000,4.000000,8.000000,1.000000,360.000000,43.100000,0.000000,10.000000,3.000000,14.000000,...,16.400000,578.500000,1.400000,1.000000,1.070000,-9.000000,0.410000,0.430000,-5.000000,33.300000
50%,23.000000,6.000000,11.000000,2.000000,433.000000,51.100000,0.000000,14.000000,5.000000,18.000000,...,18.300000,625.200000,1.700000,1.255000,1.330000,-1.000000,0.550000,0.590000,0.000000,42.900000
75%,31.000000,8.000000,13.000000,3.000000,527.000000,59.600000,0.000000,18.000000,6.000000,21.000000,...,20.000000,712.325000,1.900000,1.702500,1.640000,7.000000,0.780000,0.750000,3.000000,58.600000
max,73.000000,19.000000,24.000000,11.000000,1015.000000,82.900000,2.000000,44.000000,17.000000,44.000000,...,34.000000,975.000000,5.000000,6.000000,5.000000,78.000000,4.000000,3.000000,38.000000,100.000000

In [7]:
df.columns[0:50]

Index(['link_match', 'season', 'date', 'home_team', 'away_team', 'result_full',
       'result_ht', 'home_clearances', 'home_corners', 'home_fouls_conceded',
       'home_offsides', 'home_passes', 'home_possession', 'home_red_cards',
       'home_shots', 'home_shots_on_target', 'home_tackles', 'home_touches',
       'home_yellow_cards', 'away_clearances', 'away_corners',
       'away_fouls_conceded', 'away_offsides', 'away_passes',
       'away_possession', 'away_red_cards', 'away_shots',
       'away_shots_on_target', 'away_tackles', 'away_touches',
       'away_yellow_cards', 'goal_home_ft', 'goal_away_ft', 'sg_match_ft',
       'goal_home_ht', 'goal_away_ht', 'sg_match_ht', 'clearances_avg_H',
       'corners_avg_H', 'fouls_conceded_avg_H', 'offsides_avg_H',
       'passes_avg_H', 'possession_avg_H', 'red_cards_avg_H', 'shots_avg_H',
       'shots_on_target_avg_H', 'tackles_avg_H', 'touches_avg_H',
       'yellow_cards_avg_H', 'goals_scored_ft_avg_H'],
      dtype='object')

In [8]:
df.columns[51:113]

Index(['sg_match_ft_acum_H', 'goals_scored_ht_avg_H', 'goals_conced_ht_avg_H',
       'sg_match_ht_acum_H', 'performance_acum_H', 'clearances_avg_A',
       'corners_avg_A', 'fouls_conceded_avg_A', 'offsides_avg_A',
       'passes_avg_A', 'possession_avg_A', 'red_cards_avg_A', 'shots_avg_A',
       'shots_on_target_avg_A', 'tackles_avg_A', 'touches_avg_A',
       'yellow_cards_avg_A', 'goals_scored_ft_avg_A', 'goals_conced_ft_avg_A',
       'sg_match_ft_acum_A', 'goals_scored_ht_avg_A', 'goals_conced_ht_avg_A',
       'sg_match_ht_acum_A', 'performance_acum_A', 'clearances_avg_home',
       'corners_avg_home', 'fouls_conceded_avg_home', 'offsides_avg_home',
       'passes_avg_home', 'possession_avg_home', 'red_cards_avg_home',
       'shots_avg_home', 'shots_on_target_avg_home', 'tackles_avg_home',
       'touches_avg_home', 'yellow_cards_avg_home', 'goals_scored_ft_avg_home',
       'goals_conced_ft_avg_home', 'sg_match_ft_acum_home',
       'goals_scored_ht_avg_home', 'goals_conced_ht_avg_home',
       'sg_match_ht_acum_home', 'performance_acum_home', 'clearances_avg_away',
       'corners_avg_away', 'fouls_conceded_avg_away', 'offsides_avg_away',
       'passes_avg_away', 'possession_avg_away', 'red_cards_avg_away',
       'shots_avg_away', 'shots_on_target_avg_away', 'tackles_avg_away',
       'touches_avg_away', 'yellow_cards_avg_away', 'goals_scored_ft_avg_away',
       'goals_conced_ft_avg_away', 'sg_match_ft_acum_away',
       'goals_scored_ht_avg_away', 'goals_conced_ht_avg_away',
       'sg_match_ht_acum_away', 'performance_acum_away'],
      dtype='object')

In [9]:
kd = df.copy()

In [10]:
for i in kd.columns:
    if "ht" in i and not i in ["result"]:
        print(i)

result_ht
goal_home_ht
goal_away_ht
sg_match_ht
goals_scored_ht_avg_H
goals_conced_ht_avg_H
sg_match_ht_acum_H
goals_scored_ht_avg_A
goals_conced_ht_avg_A
sg_match_ht_acum_A
goals_scored_ht_avg_home
goals_conced_ht_avg_home
sg_match_ht_acum_home
goals_scored_ht_avg_away
goals_conced_ht_avg_away
sg_match_ht_acum_away

In [11]:
kd[["sg_match_ht"]]

      sg_match_ht
0               1
1               3
2               1
3              -1
4               0
...           ...
4065            0
4066            0
4067            0
4068            1
4069            0

[4070 rows x 1 columns]

In [12]:
df["home_team"].value_counts()

Manchester City             205
Liverpool                   204
Manchester United           203
Chelsea                     203
Arsenal                     203
Everton                     203
Tottenham Hotspur           203
Newcastle United            184
West Ham United             184
West Bromwich Albion        167
Southampton                 165
Stoke City                  152
Crystal Palace              146
Aston Villa                 145
Swansea City                133
Sunderland                  133
Leicester City              127
Burnley                     110
Fulham                      109
Norwich City                 95
Watford                      95
AFC Bournemouth              95
Wolverhampton Wanderers      89
Brighton and Hove Albion     71
Queens Park Rangers          57
Wigan Athletic               57
Hull City                    57
Huddersfield Town            38
Cardiff City                 38
Bolton Wanderers             38
Blackburn Rovers             38
Sheffield United             34
Blackpool                    19
Middlesbrough                19
Reading                      19
Birmingham City              19
Leeds United                 13
Name: home_team, dtype: int64

In [13]:
df["away_team"].value_counts()

Manchester United           205
Arsenal                     204
Chelsea                     204
Manchester City             203
Everton                     203
Liverpool                   203
Tottenham Hotspur           202
Newcastle United            185
West Ham United             184
Southampton                 166
West Bromwich Albion        165
Stoke City                  152
Aston Villa                 147
Crystal Palace              146
Sunderland                  133
Swansea City                133
Leicester City              129
Fulham                      109
Burnley                     108
Norwich City                 95
Watford                      95
AFC Bournemouth              94
Wolverhampton Wanderers      91
Brighton and Hove Albion     70
Queens Park Rangers          57
Hull City                    57
Wigan Athletic               57
Huddersfield Town            38
Bolton Wanderers             38
Cardiff City                 38
Blackburn Rovers             38
Sheffield United             32
Reading                      19
Middlesbrough                19
Birmingham City              19
Blackpool                    19
Leeds United                 13
Name: away_team, dtype: int64

In [14]:
pl = pd.read_csv("../data/matches.csv", index_col=0)

In [15]:
pl

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Premier League,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,...,Match Report,NaN,8.0,1.0,17.4,0.0,0.0,0.0,2021,Sheffield United
39,2021-05-08,15:00,Premier League,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,...,Match Report,NaN,7.0,0.0,11.4,1.0,0.0,0.0,2021,Sheffield United
40,2021-05-16,19:00,Premier League,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,...,Match Report,NaN,10.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United
41,2021-05-19,18:00,Premier League,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,...,Match Report,NaN,11.0,1.0,16.0,1.0,0.0,0.0,2021,Sheffield United
42,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,...,Match Report,NaN,12.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United

In [16]:
pl.columns

Index(['date', 'time', 'comp', 'round', 'day', 'venue', 'result', 'gf', 'ga',
       'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain', 'formation',
       'referee', 'match report', 'notes', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team'],
      dtype='object')

In [17]:
import numpy as np

In [18]:
pl.date.to_timestamp

<bound method Series.to_timestamp of 1     2021-08-15
2     2021-08-21
3     2021-08-28
4     2021-09-11
6     2021-09-18
         ...
38    2021-05-02
39    2021-05-08
40    2021-05-16
41    2021-05-19
42    2021-05-23
Name: date, Length: 1389, dtype: object>

In [19]:
38*20*2

1520

In [20]:
pl['team'].value_counts()

Southampton                 72
Brighton and Hove Albion    72
Manchester United           72
West Ham United             72
Newcastle United            72
Burnley                     71
Leeds United                71
Crystal Palace              71
Manchester City             71
Wolverhampton Wanderers     71
Tottenham Hotspur           71
Arsenal                     71
Leicester City              70
Chelsea                     70
Aston Villa                 70
Everton                     70
Liverpool                   38
Fulham                      38
West Bromwich Albion        38
Sheffield United            38
Brentford                   34
Watford                     33
Norwich City                33
Name: team, dtype: int64

In [21]:
pl["date"] = pd.to_datetime(pl["date"])

In [22]:
pl.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [23]:
pl["venue_code"]= pl["venue"].astype("category").cat.codes

In [24]:
# Draw = 0, Loss = 1, Win = 2
pl["target"] = pl["result"].astype("category").cat.codes

In [25]:
pl["target"]

1     1
2     2
3     2
4     2
6     0
     ..
38    1
39    1
40    2
41    1
42    2
Name: target, Length: 1389, dtype: int8

In [26]:
#pl["target"] = (pl["result"] == "W").astype("int")
#pl["target"] = pl["result"].astype("int")

In [27]:
pl["venue_code"] = pl["venue"].astype("category").cat.codes

In [28]:
pl["opp_code"] = pl["opponent"].astype("category").cat.codes

In [29]:
pl["home_code"] = pl["team"].astype("category").cat.codes

In [30]:
pl["hour"] = pl["time"].str.replace(":.+", "", regex=True).astype("int")

In [31]:
pl["day_code"] = pl["date"].dt.dayofweek

In [32]:
pl

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,pk,pkatt,season,team,venue_code,target,opp_code,home_code,hour,day_code
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,0.0,0.0,2022,Manchester City,0,1,18,12,16,6
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,0.0,0.0,2022,Manchester City,1,2,15,12,15,5
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,0.0,0.0,2022,Manchester City,1,2,0,12,12,5
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,0.0,0.0,2022,Manchester City,0,2,10,12,15,5
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,0.0,0.0,2022,Manchester City,1,0,17,12,15,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Premier League,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,...,0.0,0.0,2021,Sheffield United,0,1,18,16,19,6
39,2021-05-08,15:00,Premier League,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,...,0.0,0.0,2021,Sheffield United,1,1,6,16,15,5
40,2021-05-16,19:00,Premier League,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,...,0.0,0.0,2021,Sheffield United,0,2,7,16,19,6
41,2021-05-19,18:00,Premier League,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,...,0.0,0.0,2021,Sheffield United,0,1,14,16,18,2
42,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,...,0.0,0.0,2021,Sheffield United,1,2,4,16,16,6

In [70]:
pl.opp_code.unique()

array([18, 15,  0, 10, 17,  5, 11,  4,  3,  6, 13,  7, 21,  1, 19, 22,  9,
       14,  2, 12, 16,  8, 20], dtype=int8)

In [34]:
pl.opp_code[0:50]

1     18
2     15
3      0
4     10
6     17
8      5
10    11
11     4
13     3
15     6
17    13
18     7
20    21
21     1
22    19
24    22
25     9
26    14
27    10
28     2
29     0
31     5
32    17
34     2
35    15
37    18
38     7
40    13
42     6
44     4
46    11
49     3
50    19
1      6
2      0
3     11
4      1
6     18
8     12
10    17
11     2
13    15
15    14
17     4
18    10
20    13
21    19
22    21
24     9
25     7
Name: opp_code, dtype: int8

In [35]:
pl.team[0:50]

1     Manchester City
2     Manchester City
3     Manchester City
4     Manchester City
6     Manchester City
8     Manchester City
10    Manchester City
11    Manchester City
13    Manchester City
15    Manchester City
17    Manchester City
18    Manchester City
20    Manchester City
21    Manchester City
22    Manchester City
24    Manchester City
25    Manchester City
26    Manchester City
27    Manchester City
28    Manchester City
29    Manchester City
31    Manchester City
32    Manchester City
34    Manchester City
35    Manchester City
37    Manchester City
38    Manchester City
40    Manchester City
42    Manchester City
44    Manchester City
46    Manchester City
49    Manchester City
50    Manchester City
1             Chelsea
2             Chelsea
3             Chelsea
4             Chelsea
6             Chelsea
8             Chelsea
10            Chelsea
11            Chelsea
13            Chelsea
15            Chelsea
17            Chelsea
18            Chelsea
20            Chelsea
21            Chelsea
22            Chelsea
24            Chelsea
25            Chelsea
Name: team, dtype: object

In [36]:
pl.home_code[0:50]

1     12
2     12
3     12
4     12
6     12
8     12
10    12
11    12
13    12
15    12
17    12
18    12
20    12
21    12
22    12
24    12
25    12
26    12
27    12
28    12
29    12
31    12
32    12
34    12
35    12
37    12
38    12
40    12
42    12
44    12
46    12
49    12
50    12
1      5
2      5
3      5
4      5
6      5
8      5
10     5
11     5
13     5
15     5
17     5
18     5
20     5
21     5
22     5
24     5
25     5
Name: home_code, dtype: int8

In [37]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [38]:
#rf = RandomForestClassifier(n_estimators=1000, min_samples_split=10, random_state=1)

In [39]:
dt = DecisionTreeClassifier(max_depth=1000, ccp_alpha=0)

In [40]:
train = pl[pl["date"] < '2022-01-01']

In [41]:
test = pl[pl["date"] >= '2022-01-01']

In [42]:
predictors = ["home_code", "venue_code", "opp_code", "hour", "day_code"]

In [43]:
dt.fit(train[predictors], train["target"])

DecisionTreeClassifier(ccp_alpha=0, max_depth=1000)

In [44]:
preds = dt.predict(test[predictors])

In [45]:
preds

array([2, 1, 1, 2, 2, 2, 2, 1, 1, 2, 0, 2, 0, 1, 2, 0, 0, 2, 2, 2, 2, 2,
       0, 1, 0, 1, 2, 1, 0, 1, 1, 2, 1, 1, 0, 1, 1, 2, 1, 2, 1, 0, 2, 2,
       1, 1, 1, 2, 1, 1, 0, 0, 2, 0, 1, 2, 0, 2, 2, 2, 1, 2, 0, 1, 2, 2,
       1, 2, 2, 0, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 0, 0, 2, 2, 0, 1, 1, 0,
       2, 0, 1, 0, 2, 1, 0, 2, 0, 2, 0, 0, 0, 0, 1, 1, 2, 2, 0, 2, 1, 0,
       2, 0, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 1, 2, 1, 0, 1, 2, 0, 2, 2, 2,
       0, 2, 1, 1, 1, 1, 2, 0, 2, 0, 1, 2, 1, 0, 2, 2, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 2, 0, 1, 1, 1, 2, 0, 2, 1, 0, 0, 1, 2, 2, 2, 2, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 2, 0, 0, 0, 1, 2, 1, 0, 2, 0, 2, 1, 2,
       1, 0, 2, 2, 2, 1, 2, 2, 1, 2, 0, 1, 0, 1, 2, 2, 0, 2, 1, 0, 1, 1,
       0, 2, 2, 1, 1, 2, 2, 2, 0, 1, 2, 1, 0, 0, 0, 0, 0, 0, 2, 1, 2, 2,
       2, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2,
       1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 0, 2, 1, 2], dtype=int8)

In [46]:
from sklearn.metrics import accuracy_score

In [47]:
accuracy_score(train["target"], dt.predict(train[predictors]))

0.989159891598916

In [48]:
accuracy_score(test["target"], dt.predict(test[predictors]))

0.4078014184397163

In [49]:
accuracy = accuracy_score(test["target"], preds)

In [50]:
accuracy*100

40.78014184397163

In [51]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [52]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted   0   1   2
actual
0          22  19  15
1          27  49  43
2          21  42  44

In [53]:
combined = pd.DataFrame(dict(actual=train["target"], predicted=dt.predict(train[predictors])))

In [54]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0    1    2
actual
0          259    0    0
1            4  425    0
2            5    3  411

In [55]:
from sklearn.metrics import precision_score

#precision_score(test["target"], preds)

In [56]:
grouped_matches = pl.groupby("team")

In [57]:
group = grouped_matches.get_group("Arsenal").sort_values("date")

In [58]:
group

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,pk,pkatt,season,team,venue_code,target,opp_code,home_code,hour,day_code
1,2020-09-12,12:30,Premier League,Matchweek 1,Sat,Away,W,3.0,0.0,Fulham,...,0.0,0.0,2021,Arsenal,0,2,8,0,12,5
2,2020-09-19,20:00,Premier League,Matchweek 2,Sat,Home,W,2.0,1.0,West Ham,...,0.0,0.0,2021,Arsenal,1,2,21,0,20,5
4,2020-09-28,20:00,Premier League,Matchweek 3,Mon,Away,L,1.0,3.0,Liverpool,...,0.0,0.0,2021,Arsenal,0,1,11,0,20,0
6,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,0.0,0.0,2021,Arsenal,1,2,16,0,14,6
7,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,0.0,0.0,2021,Arsenal,0,1,12,0,17,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,2022-04-04,20:00,Premier League,Matchweek 31,Mon,Away,L,0.0,3.0,Crystal Palace,...,0.0,0.0,2022,Arsenal,0,1,6,0,20,0
36,2022-04-09,15:00,Premier League,Matchweek 32,Sat,Home,L,1.0,2.0,Brighton,...,0.0,0.0,2022,Arsenal,1,1,3,0,15,5
37,2022-04-16,15:00,Premier League,Matchweek 33,Sat,Away,L,0.0,1.0,Southampton,...,0.0,0.0,2022,Arsenal,0,1,17,0,15,5
38,2022-04-20,19:45,Premier League,Matchweek 25,Wed,Away,W,4.0,2.0,Chelsea,...,1.0,1.0,2022,Arsenal,0,2,5,0,19,2
39,2022-04-23,12:30,Premier League,Matchweek 34,Sat,Home,W,3.0,1.0,Manchester Utd,...,1.0,1.0,2022,Arsenal,1,2,13,0,12,5

In [59]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [60]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
6,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,14,6,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
7,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,17,5,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
9,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,...,19,6,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
11,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,...,16,6,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
13,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,...,19,6,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,2022-04-04,20:00,Premier League,Matchweek 31,Mon,Away,L,0.0,3.0,Crystal Palace,...,20,0,1.000000,0.666667,13.000000,3.666667,18.400000,0.000000,0.333333,0.333333
36,2022-04-09,15:00,Premier League,Matchweek 32,Sat,Home,L,1.0,2.0,Brighton,...,15,5,0.333333,1.666667,10.333333,2.666667,19.300000,0.000000,0.000000,0.000000
37,2022-04-16,15:00,Premier League,Matchweek 33,Sat,Away,L,0.0,1.0,Southampton,...,15,5,0.666667,1.666667,14.000000,3.333333,17.566667,0.666667,0.000000,0.000000
38,2022-04-20,19:45,Premier League,Matchweek 25,Wed,Away,W,4.0,2.0,Chelsea,...,19,2,0.333333,2.000000,18.333333,4.333333,17.400000,1.000000,0.000000,0.000000
39,2022-04-23,12:30,Premier League,Matchweek 34,Sat,Home,W,3.0,1.0,Manchester Utd,...,12,5,1.666667,1.666667,18.666667,4.333333,17.900000,1.000000,0.333333,0.333333

In [61]:
matches_rolling = pl.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [62]:
matches_rolling

                                 date   time            comp         round  \
team
Arsenal                 6  2020-10-04  14:00  Premier League   Matchweek 4
                        7  2020-10-17  17:30  Premier League   Matchweek 5
                        9  2020-10-25  19:15  Premier League   Matchweek 6
                        11 2020-11-01  16:30  Premier League   Matchweek 7
                        13 2020-11-08  19:15  Premier League   Matchweek 8
...                               ...    ...             ...           ...
Wolverhampton Wanderers 32 2022-03-13  14:00  Premier League  Matchweek 29
                        33 2022-03-18  20:00  Premier League  Matchweek 30
                        34 2022-04-02  15:00  Premier League  Matchweek 31
                        35 2022-04-08  20:00  Premier League  Matchweek 32
                        36 2022-04-24  14:00  Premier League  Matchweek 34

                            day venue result   gf   ga         opponent  ...  \
team                                                                     ...
Arsenal                 6   Sun  Home      W  2.0  1.0    Sheffield Utd  ...
                        7   Sat  Away      L  0.0  1.0  Manchester City  ...
                        9   Sun  Home      L  0.0  1.0   Leicester City  ...
                        11  Sun  Away      W  1.0  0.0   Manchester Utd  ...
                        13  Sun  Home      L  0.0  3.0      Aston Villa  ...
...                         ...   ...    ...  ...  ...              ...  ...
Wolverhampton Wanderers 32  Sun  Away      W  1.0  0.0          Everton  ...
                        33  Fri  Home      L  2.0  3.0     Leeds United  ...
                        34  Sat  Home      W  2.0  1.0      Aston Villa  ...
                        35  Fri  Away      L  0.0  1.0    Newcastle Utd  ...
                        36  Sun  Away      L  0.0  1.0          Burnley  ...

                            hour  day_code  gf_rolling  ga_rolling sh_rolling  \
team
Arsenal                 6     14         6    2.000000    1.333333   7.666667
                        7     17         5    1.666667    1.666667   5.333333
                        9     19         6    1.000000    1.666667   7.000000
                        11    16         6    0.666667    1.000000   9.666667
                        13    19         6    0.333333    0.666667   9.666667
...                          ...       ...         ...         ...        ...
Wolverhampton Wanderers 32    14         6    1.333333    1.000000  12.333333
                        33    20         4    1.666667    0.666667  12.333333
                        34    15         5    2.333333    1.000000  13.000000
                        35    20         4    1.666667    1.333333  13.000000
                        36    14         6    1.333333    1.666667  10.000000

                           sot_rolling dist_rolling fk_rolling  pk_rolling  \
team
Arsenal                 6     3.666667    14.733333   0.666667    0.000000
                        7     3.666667    15.766667   0.000000    0.000000
                        9     3.666667    16.733333   0.666667    0.000000
                        11    4.000000    16.033333   1.000000    0.000000
                        13    2.666667    18.033333   1.000000    0.333333
...                                ...          ...        ...         ...
Wolverhampton Wanderers 32    3.666667    19.300000   0.000000    0.000000
                        33    4.333333    19.600000   0.000000    0.000000
                        34    5.333333    19.833333   0.000000    0.000000
                        35    5.000000    18.533333   0.000000    0.000000
                        36    4.666667    17.633333   0.000000    0.000000

                            pkatt_rolling
team
Arsenal                 6        0.000000
                        7        0.000000
                        9        0.000000
                        11       0.000000
                        13       0.333333
...                                   ...
Wolverhampton Wanderers 32       0.000000
                        33       0.000000
                        34       0.000000
                        35       0.000000
                        36       0.000000

[1317 rows x 41 columns]

In [63]:
matches_rolling = matches_rolling.droplevel('team')

In [64]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
6,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,14,6,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
7,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,17,5,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
9,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,...,19,6,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
11,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,...,16,6,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
13,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,...,19,6,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,2022-03-13,14:00,Premier League,Matchweek 29,Sun,Away,W,1.0,0.0,Everton,...,14,6,1.333333,1.000000,12.333333,3.666667,19.300000,0.000000,0.000000,0.000000
33,2022-03-18,20:00,Premier League,Matchweek 30,Fri,Home,L,2.0,3.0,Leeds United,...,20,4,1.666667,0.666667,12.333333,4.333333,19.600000,0.000000,0.000000,0.000000
34,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Home,W,2.0,1.0,Aston Villa,...,15,5,2.333333,1.000000,13.000000,5.333333,19.833333,0.000000,0.000000,0.000000
35,2022-04-08,20:00,Premier League,Matchweek 32,Fri,Away,L,0.0,1.0,Newcastle Utd,...,20,4,1.666667,1.333333,13.000000,5.000000,18.533333,0.000000,0.000000,0.000000
36,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Away,L,0.0,1.0,Burnley,...,14,6,1.333333,1.666667,10.000000,4.666667,17.633333,0.000000,0.000000,0.000000

In [65]:
matches_rolling.index = range(matches_rolling.shape[0])

In [66]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,14,6,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
1,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,17,5,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
2,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,...,19,6,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
3,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,...,16,6,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
4,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,...,19,6,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,2022-03-13,14:00,Premier League,Matchweek 29,Sun,Away,W,1.0,0.0,Everton,...,14,6,1.333333,1.000000,12.333333,3.666667,19.300000,0.000000,0.000000,0.000000
1313,2022-03-18,20:00,Premier League,Matchweek 30,Fri,Home,L,2.0,3.0,Leeds United,...,20,4,1.666667,0.666667,12.333333,4.333333,19.600000,0.000000,0.000000,0.000000
1314,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Home,W,2.0,1.0,Aston Villa,...,15,5,2.333333,1.000000,13.000000,5.333333,19.833333,0.000000,0.000000,0.000000
1315,2022-04-08,20:00,Premier League,Matchweek 32,Fri,Away,L,0.0,1.0,Newcastle Utd,...,20,4,1.666667,1.333333,13.000000,5.000000,18.533333,0.000000,0.000000,0.000000
1316,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Away,L,0.0,1.0,Burnley,...,14,6,1.333333,1.666667,10.000000,4.666667,17.633333,0.000000,0.000000,0.000000

In [67]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2021-08-01']
    test = data[data["date"] > '2021-08-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    acc = precision_score(test["target"], preds, average="weighted")
    return combined, acc

In [68]:
train = data[data["date"] < '2021-08-01']
test = data[data["date"] > '2021-08-01']
rf.fit(train[predictors], train["target"])

NameError: name 'data' is not defined

In [ ]:
def perm_feature_importance(model, X, y, n):
    features = X.columns
    importance = permutation_importance(model, X, y).importances_mean
    ind_top = np.argsort(importance)[len(features)-n:]
    plt.title(str("Permutation Importance: Top " + str(n)))
    plt.barh(range(len(ind_top)), importance[ind_top], align="center")
    plt.yticks(range(len(ind_top)), [features[i] for i in ind_top])
    plt.xlabel("Relative Importance")
    plt.show()

In [ ]:
perm_feature_importance(model, X, y, n)

In [ ]:
matches_rolling[predictors + new_cols]

In [ ]:
combined, accuracy = make_predictions(matches_rolling, predictors + new_cols)

In [ ]:
accuracy

In [ ]:
combined

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

In [ ]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [ ]:
combined

In [ ]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [ ]:
combined["new_team"] = combined["team"].map(mapping)

In [ ]:
combined

In [ ]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [ ]:
merged

In [ ]:
merged["pred_result_x"] = merged["predicted_x"]
merged["pred_result_y"] = merged["predicted_y"]

In [ ]:
for k in range(len(merged.predicted_x)):
    if merged["predicted_x"][k] == 0:
        merged["pred_result_x"][k] = "D"
    elif merged["predicted_x"][k] == 1:
        merged["pred_result_x"][k] = "L"
    elif merged["predicted_x"][k] == 2:
        merged["pred_result_x"][k] = "W"

In [ ]:
for k in range(len(merged.predicted_y)):
    if merged["predicted_y"][k] == 0:
        merged["pred_result_y"][k] = "D"
    elif merged["predicted_y"][k] == 1:
        merged["pred_result_y"][k] = "L"
    elif merged["predicted_y"][k] == 2:
        merged["pred_result_y"][k] = "W"

In [ ]:
merged

In [ ]:
def make_league_table(df):
    actual_league_table = pd.DataFrame(Team, Wins, Draws, Losses, Points)
    predicted_league_table = pd.DataFrame(Team, Wins, Draws, Losses, Points)
    
    for game in len(df):

In [ ]:
make_league_table(merged)