In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv("../data/premireleague.csv", index_col=0)

In [3]:
df.head()

,link_match,season,date,home_team,away_team,result_full,result_ht,home_clearances,home_corners,home_fouls_conceded,...,tackles_avg_away,touches_avg_away,yellow_cards_avg_away,goals_scored_ft_avg_away,goals_conced_ft_avg_away,sg_match_ft_acum_away,goals_scored_ht_avg_away,goals_conced_ht_avg_away,sg_match_ht_acum_away,performance_acum_away
0,https://www.premierleague.com/match/7186,10/11,2010-11-01,Blackpool,West Bromwich Albion,2-1,1-0,15.0,8.0,16.0,...,20.0,584.9,1.6,1.44,1.67,-2.0,0.33,0.78,-4.0,55.6
1,https://www.premierleague.com/match/7404,10/11,2011-04-11,Liverpool,Manchester City,3-0,3-0,16.0,6.0,6.0,...,22.0,681.4,2.0,1.61,0.87,23.0,0.87,0.32,17.0,60.2
2,https://www.premierleague.com/match/7255,10/11,2010-12-13,Manchester United,Arsenal,1-0,1-0,26.0,5.0,9.0,...,21.2,748.0,1.8,2.12,1.12,16.0,0.94,0.38,9.0,66.7
3,https://www.premierleague.com/match/7126,10/11,2010-09-13,Stoke City,Aston Villa,2-1,0-1,26.0,8.0,12.0,...,25.0,567.3,2.0,1.33,2.00,-2.0,1.00,1.00,0.0,66.7
4,https://www.premierleague.com/match/7350,10/11,2011-02-14,Fulham,Chelsea,0-0,0-0,50.0,4.0,11.0,...,19.4,728.6,1.4,1.84,0.88,24.0,0.84,0.48,9.0,58.7

In [4]:
df.shape

(4070, 113)

In [5]:
38 * 20 * 10

7600

In [6]:
df["home_team"].value_counts()

Manchester City             205
Liverpool                   204
Manchester United           203
Chelsea                     203
Arsenal                     203
Everton                     203
Tottenham Hotspur           203
Newcastle United            184
West Ham United             184
West Bromwich Albion        167
Southampton                 165
Stoke City                  152
Crystal Palace              146
Aston Villa                 145
Swansea City                133
Sunderland                  133
Leicester City              127
Burnley                     110
Fulham                      109
Norwich City                 95
Watford                      95
AFC Bournemouth              95
Wolverhampton Wanderers      89
Brighton and Hove Albion     71
Queens Park Rangers          57
Wigan Athletic               57
Hull City                    57
Huddersfield Town            38
Cardiff City                 38
Bolton Wanderers             38
Blackburn Rovers             38
Sheffield United             34
Blackpool                    19
Middlesbrough                19
Reading                      19
Birmingham City              19
Leeds United                 13
Name: home_team, dtype: int64

In [7]:
df["away_team"].value_counts()

Manchester United           205
Arsenal                     204
Chelsea                     204
Manchester City             203
Everton                     203
Liverpool                   203
Tottenham Hotspur           202
Newcastle United            185
West Ham United             184
Southampton                 166
West Bromwich Albion        165
Stoke City                  152
Aston Villa                 147
Crystal Palace              146
Sunderland                  133
Swansea City                133
Leicester City              129
Fulham                      109
Burnley                     108
Norwich City                 95
Watford                      95
AFC Bournemouth              94
Wolverhampton Wanderers      91
Brighton and Hove Albion     70
Queens Park Rangers          57
Hull City                    57
Wigan Athletic               57
Huddersfield Town            38
Bolton Wanderers             38
Cardiff City                 38
Blackburn Rovers             38
Sheffield United             32
Reading                      19
Middlesbrough                19
Birmingham City              19
Blackpool                    19
Leeds United                 13
Name: away_team, dtype: int64

In [8]:
pl = pd.read_csv("../data/matches.csv", index_col=0)

In [9]:
pl

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Premier League,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,...,Match Report,NaN,8.0,1.0,17.4,0.0,0.0,0.0,2021,Sheffield United
39,2021-05-08,15:00,Premier League,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,...,Match Report,NaN,7.0,0.0,11.4,1.0,0.0,0.0,2021,Sheffield United
40,2021-05-16,19:00,Premier League,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,...,Match Report,NaN,10.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United
41,2021-05-19,18:00,Premier League,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,...,Match Report,NaN,11.0,1.0,16.0,1.0,0.0,0.0,2021,Sheffield United
42,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,...,Match Report,NaN,12.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United

In [10]:
38*20*2

1520

In [11]:
pl['team'].value_counts()

Southampton                 72
Brighton and Hove Albion    72
Manchester United           72
West Ham United             72
Newcastle United            72
Burnley                     71
Leeds United                71
Crystal Palace              71
Manchester City             71
Wolverhampton Wanderers     71
Tottenham Hotspur           71
Arsenal                     71
Leicester City              70
Chelsea                     70
Aston Villa                 70
Everton                     70
Liverpool                   38
Fulham                      38
West Bromwich Albion        38
Sheffield United            38
Brentford                   34
Watford                     33
Norwich City                33
Name: team, dtype: int64

In [12]:
pl["date"] = pd.to_datetime(pl["date"])

In [13]:
pl.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [14]:
pl["venue_code"]= pl["venue"].astype("category").cat.codes

In [15]:
# Draw = 0, Loss = 1, Win = 2
pl["target"] = pl["result"].astype("category").cat.codes

In [16]:
pl["target"]

1     1
2     2
3     2
4     2
6     0
     ..
38    1
39    1
40    2
41    1
42    2
Name: target, Length: 1389, dtype: int8

In [17]:
#pl["target"] = (pl["result"] == "W").astype("int")
#pl["target"] = pl["result"].astype("int")

In [18]:
pl["venue_code"] = pl["venue"].astype("category").cat.codes

In [19]:
pl["opp_code"] = pl["opponent"].astype("category").cat.codes

In [20]:
pl["home_code"] = pl["team"].astype("category").cat.codes

In [21]:
pl["hour"] = pl["time"].str.replace(":.+", "", regex=True).astype("int")

In [22]:
pl["day_code"] = pl["date"].dt.dayofweek

In [23]:
pl

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,pk,pkatt,season,team,venue_code,target,opp_code,home_code,hour,day_code
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,0.0,0.0,2022,Manchester City,0,1,18,12,16,6
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,0.0,0.0,2022,Manchester City,1,2,15,12,15,5
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,0.0,0.0,2022,Manchester City,1,2,0,12,12,5
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,0.0,0.0,2022,Manchester City,0,2,10,12,15,5
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,0.0,0.0,2022,Manchester City,1,0,17,12,15,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Premier League,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,...,0.0,0.0,2021,Sheffield United,0,1,18,16,19,6
39,2021-05-08,15:00,Premier League,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,...,0.0,0.0,2021,Sheffield United,1,1,6,16,15,5
40,2021-05-16,19:00,Premier League,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,...,0.0,0.0,2021,Sheffield United,0,2,7,16,19,6
41,2021-05-19,18:00,Premier League,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,...,0.0,0.0,2021,Sheffield United,0,1,14,16,18,2
42,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,...,0.0,0.0,2021,Sheffield United,1,2,4,16,16,6

In [24]:
(pl.opponent)[0:50]

1           Tottenham
2        Norwich City
3             Arsenal
4      Leicester City
6         Southampton
8             Chelsea
10          Liverpool
11            Burnley
13           Brighton
15     Crystal Palace
17     Manchester Utd
18            Everton
20           West Ham
21        Aston Villa
22            Watford
24             Wolves
25       Leeds United
26      Newcastle Utd
27     Leicester City
28          Brentford
29            Arsenal
31            Chelsea
32        Southampton
34          Brentford
35       Norwich City
37          Tottenham
38            Everton
40     Manchester Utd
42     Crystal Palace
44            Burnley
46          Liverpool
49           Brighton
50            Watford
1      Crystal Palace
2             Arsenal
3           Liverpool
4         Aston Villa
6           Tottenham
8     Manchester City
10        Southampton
11          Brentford
13       Norwich City
15      Newcastle Utd
17            Burnley
18     Leicester City
20     Manchester Utd
21            Watford
22           West Ham
24       Leeds United
25            Everton
Name: opponent, dtype: object

In [25]:
pl.opp_code[0:50]

1     18
2     15
3      0
4     10
6     17
8      5
10    11
11     4
13     3
15     6
17    13
18     7
20    21
21     1
22    19
24    22
25     9
26    14
27    10
28     2
29     0
31     5
32    17
34     2
35    15
37    18
38     7
40    13
42     6
44     4
46    11
49     3
50    19
1      6
2      0
3     11
4      1
6     18
8     12
10    17
11     2
13    15
15    14
17     4
18    10
20    13
21    19
22    21
24     9
25     7
Name: opp_code, dtype: int8

In [26]:
pl.team[0:50]

1     Manchester City
2     Manchester City
3     Manchester City
4     Manchester City
6     Manchester City
8     Manchester City
10    Manchester City
11    Manchester City
13    Manchester City
15    Manchester City
17    Manchester City
18    Manchester City
20    Manchester City
21    Manchester City
22    Manchester City
24    Manchester City
25    Manchester City
26    Manchester City
27    Manchester City
28    Manchester City
29    Manchester City
31    Manchester City
32    Manchester City
34    Manchester City
35    Manchester City
37    Manchester City
38    Manchester City
40    Manchester City
42    Manchester City
44    Manchester City
46    Manchester City
49    Manchester City
50    Manchester City
1             Chelsea
2             Chelsea
3             Chelsea
4             Chelsea
6             Chelsea
8             Chelsea
10            Chelsea
11            Chelsea
13            Chelsea
15            Chelsea
17            Chelsea
18            Chelsea
20            Chelsea
21            Chelsea
22            Chelsea
24            Chelsea
25            Chelsea
Name: team, dtype: object

In [27]:
pl.home_code[0:50]

1     12
2     12
3     12
4     12
6     12
8     12
10    12
11    12
13    12
15    12
17    12
18    12
20    12
21    12
22    12
24    12
25    12
26    12
27    12
28    12
29    12
31    12
32    12
34    12
35    12
37    12
38    12
40    12
42    12
44    12
46    12
49    12
50    12
1      5
2      5
3      5
4      5
6      5
8      5
10     5
11     5
13     5
15     5
17     5
18     5
20     5
21     5
22     5
24     5
25     5
Name: home_code, dtype: int8

In [29]:
pl.to_csv("cleaned_data.csv")

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
#rf = RandomForestClassifier(n_estimators=1000, min_samples_split=10, random_state=1)

In [ ]:
dt = DecisionTreeClassifier(max_depth=1000, ccp_alpha=0)

In [ ]:
train = pl[pl["date"] < '2022-01-01']

In [ ]:
test = pl[pl["date"] >= '2022-01-01']

In [ ]:
predictors = ["home_code", "venue_code", "opp_code", "hour", "day_code"]

In [ ]:
dt.fit(train[predictors], train["target"])

In [ ]:
preds = dt.predict(test[predictors])

In [ ]:
preds

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(train["target"], dt.predict(train[predictors]))

In [ ]:
accuracy_score(test["target"], dt.predict(test[predictors]))

In [ ]:
accuracy = accuracy_score(test["target"], preds)

In [ ]:
accuracy*100

In [ ]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

In [ ]:
combined = pd.DataFrame(dict(actual=train["target"], predicted=dt.predict(train[predictors])))

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

In [ ]:
from sklearn.metrics import precision_score

#precision_score(test["target"], preds)

In [ ]:
grouped_matches = pl.groupby("team")

In [ ]:
group = grouped_matches.get_group("Arsenal").sort_values("date")

In [ ]:
group

In [ ]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [ ]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

In [ ]:
matches_rolling = pl.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [ ]:
matches_rolling

In [ ]:
matches_rolling = matches_rolling.droplevel('team')

In [ ]:
matches_rolling

In [ ]:
matches_rolling.index = range(matches_rolling.shape[0])

In [ ]:
matches_rolling

In [ ]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2021-08-01']
    test = data[data["date"] > '2021-08-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    acc = precision_score(test["target"], preds, average="weighted")
    return combined, acc

In [ ]:
train = data[data["date"] < '2021-08-01']
test = data[data["date"] > '2021-08-01']
rf.fit(train[predictors], train["target"])

In [ ]:
def perm_feature_importance(model, X, y, n):
    features = X.columns
    importance = permutation_importance(model, X, y).importances_mean
    ind_top = np.argsort(importance)[len(features)-n:]
    plt.title(str("Permutation Importance: Top " + str(n)))
    plt.barh(range(len(ind_top)), importance[ind_top], align="center")
    plt.yticks(range(len(ind_top)), [features[i] for i in ind_top])
    plt.xlabel("Relative Importance")
    plt.show()

In [ ]:
perm_feature_importance(model, X, y, n)

In [ ]:
matches_rolling[predictors + new_cols]

In [ ]:
combined, accuracy = make_predictions(matches_rolling, predictors + new_cols)

In [ ]:
accuracy

In [ ]:
combined

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

In [ ]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [ ]:
combined

In [ ]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [ ]:
combined["new_team"] = combined["team"].map(mapping)

In [ ]:
combined

In [ ]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [ ]:
merged

In [ ]:
merged["pred_result_x"] = merged["predicted_x"]
merged["pred_result_y"] = merged["predicted_y"]

In [ ]:
for k in range(len(merged.predicted_x)):
    if merged["predicted_x"][k] == 0:
        merged["pred_result_x"][k] = "D"
    elif merged["predicted_x"][k] == 1:
        merged["pred_result_x"][k] = "L"
    elif merged["predicted_x"][k] == 2:
        merged["pred_result_x"][k] = "W"

In [ ]:
for k in range(len(merged.predicted_y)):
    if merged["predicted_y"][k] == 0:
        merged["pred_result_y"][k] = "D"
    elif merged["predicted_y"][k] == 1:
        merged["pred_result_y"][k] = "L"
    elif merged["predicted_y"][k] == 2:
        merged["pred_result_y"][k] = "W"

In [ ]:
merged

In [ ]:
def make_league_table(df):
    actual_league_table = pd.DataFrame(Team, Wins, Draws, Losses, Points)
    predicted_league_table = pd.DataFrame(Team, Wins, Draws, Losses, Points)
    
    for game in len(df):

In [ ]:
make_league_table(merged)